$color-black-header-background: hsl(0, 0%, 9%);
$color-grey-header-text-primary: grey;
$color-grey-header-text-secondary: white;
$color-cyan-header-text-hero: #45F0F9;
$color-citrus: #E1F196;
$color-white: white;