@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts/futura-pt-heavy.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/futura-pt-book.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/futura-pt-medium.otf') format('opentype');
}

@font-face {
  font-family: 'OverpassMono-Light';
  src: url('../fonts/OverpassMono-Light.ttf') format('opentype');
}