@import './partials/colors';
@import './partials/fonts';

.dropdown {
  height: 37px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > button#dropdown-menu {
    background-color: $color-black;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: flex-start;
    padding: 5px 10px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: $color-citrus;
      }
    }
  }

  & ul {
    padding: 0;

    li {
      height: 2rem;
      display: flex;
      align-items: center;
      background-color: $color-black;
      border: 1px solid #383838;

      a {
        font-family: "FuturaPT-Book";
        letter-spacing: 1.6px;
        color: $color-citrus;
      }
    }

    li:hover{
      background-color: $color-citrus;

      a {
        background-color: $color-citrus;
        color: $color-black;
      }
    }
  }
}