@import './partials/colors';
@import './partials/fonts';
@import './partials/breakpoints';

.main-nav {
  display: block;

  & > div:first-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.4rem;

    .logo-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      p {
        font-family: "FuturaPT-Heavy", Arial, sans-serif;
        font-size: 12px;
        color: #EEEEEE;
        letter-spacing: 4.8px;
        margin-left: 1.25rem;
      }
    }

    .nav-options-container {
      display: block;

      button {
        width: 154px;
        height: 30px;
        padding: 0px 8px;
        background-color: $color-black;
        color: $color-citrus;
        border: 1px solid #383838;

        div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          font-family: "FuturaPT-Heavy", Arial, sans-serif;
          font-size: 10px;
          letter-spacing: 4px;
          line-height: 30px;
        }
      }

      button:hover {
        background-color: $color-citrus;
        
        p {
          color: $color-black;
        }
      }

      button:last-of-type {
        margin-left: 0.65rem;
      }
    }

    .nav-options-mobile {
      display: none;
    }

    @include media('mobile') {
      .nav-options-container {
        display: none;
      }

      .nav-options-mobile {
        display: flex;
        height: 100%;
        
      }
    }
  }

  hr, div.message-us {
    border-color: #292929;
  }

  hr {
    opacity: 0.6;
    margin: 0;
    padding: 0;
    border-style: solid;
  }

  div.message-us {
    width: 245px;
    height: 2.8rem;
    float: right;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      line-height: 15px;
      text-align: right;
      font-size: 12px;
      color: #FFFFFF;
      opacity: 0.4;
    }
  }

  @include media('mobile') {
    & > div:first-child {
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
