@font-face {
  font-family: "FuturaPT-Heavy";
  src: url("../fonts/futura-pt-heavy.otf") format("opentype");
}
@font-face {
  font-family: "FuturaPT-Book";
  src: url("../fonts/futura-pt-book.otf") format("opentype");
}
@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../fonts/futura-pt-medium.otf") format("opentype");
}
@font-face {
  font-family: "OverpassMono-Light";
  src: url("../fonts/OverpassMono-Light.ttf") format("opentype");
}
.big-header {
  font-family: "FuturaPT-Book";
  font-size: 50px;
  color: #161616;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 767px) {
  .big-header {
    font-size: 32px;
    line-height: 64px;
  }
}

.text {
  font-family: "OverpassMono-Light";
  font-size: 13px;
  color: #161616;
  opacity: 0.8;
  line-height: 25px;
}

.double-column {
  column-count: 2;
  column-gap: 6rem;
  column-fill: auto;
}

.main {
  background-color: white;
  padding: 80px 100px 0;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .main {
    padding: 0;
  }
}

.about-technology h2 {
  line-height: 64px;
}
.about-technology p {
  height: auto;
}
.about-technology > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.about-technology > div:first-of-type > div {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.about-technology > div:first-of-type > div > p:first-child {
  margin: 0 0 25px 0;
}
.about-technology > div:first-of-type #about-technology-item3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.about-technology > div:first-of-type #about-technology-item2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.about-technology div:last-of-type {
  display: flex;
  justify-content: center;
}
.about-technology div:last-of-type img {
  height: 100%;
  width: 897px;
  margin: 120px auto 90px;
  align-content: center;
}
@media screen and (max-width: 767px) {
  .about-technology {
    padding: 4rem 2rem 0;
  }
  .about-technology > div:first-of-type {
    flex-flow: column nowrap;
    padding-bottom: 0rem;
  }
  .about-technology > div:first-of-type > div > p, .about-technology > div:first-of-type > div > p:first-child {
    margin: 0 0 0.75rem 0;
  }
  .about-technology > div:last-of-type img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
  }
}

.big-names {
  width: 100%;
  padding: 30px 0 0 0;
  margin: 30px 0 0 0;
}
.big-names .dots-container {
  position: absolute;
  z-index: 0;
  left: 10px;
  margin: -30px 0 0 0;
  height: 562px;
  width: 50vw;
  background-image: url("../assets/png/rectangle.png");
  background-repeat: repeat;
}
.big-names > *:not(.dots-container) {
  position: relative;
  z-index: 100;
  background-color: white;
}
.big-names h3 {
  padding: 10px;
  font-family: "FuturaPT-Book";
  font-size: 30px;
  color: #161616;
  display: inline-block;
}
.big-names .big-names-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-template-rows: repeat(4, 122px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  top: 20px;
  background-color: white;
}
.big-names .big-names-grid .big-names-item {
  display: flex;
  width: 100%;
  background-color: #F5F5F5;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
}
.big-names .big-names-grid .big-names-item img:last-of-type {
  display: none;
}
.big-names .big-names-grid .big-names-item:hover {
  background-color: #45F0F9;
}
.big-names .big-names-grid .big-names-item:hover img:first-of-type {
  display: none;
}
.big-names .big-names-grid .big-names-item:hover img:last-of-type {
  display: block;
}
.big-names .big-names-grid .big-names-item:hover {
  background-color: #45F0F9;
}
@media screen and (max-width: 767px) {
  .big-names {
    padding: 0 2rem;
  }
  .big-names .big-names-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 122px);
  }
  .big-names .big-names-grid .big-names-item {
    padding: 0 14px;
  }
}

.how-we-work {
  padding: 120px 15px 0;
  width: 100%;
}
.how-we-work h2 {
  font-family: "FuturaPT-Book";
}
.how-we-work p.double-column {
  height: 100px;
}
.how-we-work div.ways-we-work--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 150px);
  grid-auto-rows: 150px;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 80px;
  padding: 75px 0 85px 0;
}
.how-we-work div.ways-we-work--container div.ways-we-work--item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.how-we-work div.ways-we-work--container div.ways-we-work--item > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  height: 100%;
  width: 100%;
}
.how-we-work div.ways-we-work--container div.ways-we-work--item p {
  font-family: "FuturaPT-Medium";
  font-size: 0.9rem;
  line-height: 18px;
  opacity: 1;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .how-we-work {
    padding: 100px 2rem 0;
  }
  .how-we-work p.double-column {
    column-count: 1;
    height: auto;
  }
}

.carousel-contact {
  width: 100%;
  padding: 0 31px;
}
.carousel-contact .contact-us {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 220px;
}
.carousel-contact .contact-us > div {
  height: 220px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-contact .contact-us > div:first-child {
  background-color: white;
  justify-content: flex-start;
  padding: 0 7.5% 0 7%;
}
.carousel-contact .contact-us > div:last-child {
  background-color: #F5F5F5;
  justify-content: flex-end;
  padding: 0 8.5% 0 8%;
}
.carousel-contact .contact-us > div:last-child h2 {
  display: none;
}
.carousel-contact .contact-us > div:last-child p {
  position: relative;
  top: 15px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .carousel-contact .contact-us > div:first-child {
    padding: 0 0 0 1.25rem;
  }
  .carousel-contact .contact-us > div:last-child {
    padding: 0 1.25rem 0 0;
  }
  .carousel-contact .contact-us > div:last-of-type p {
    line-height: 35px;
  }
}

.display-linebreak {
  white-space: pre-line;
}

@media (max-width: 530px) {
  .about-technology {
    padding-bottom: 3rem;
  }
  .about-technology p.double-column {
    column-count: 1;
  }
  .about-technology > div:last-of-type {
    display: none;
  }

  .how-we-work div.ways-we-work--container {
    padding-bottom: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 130px;
  }
  .how-we-work div.ways-we-work--container > div.ways-we-work--item > div {
    padding: 14px 8px;
  }

  .carousel-contact .contact-us > div:first-of-type {
    background-color: #f5f5f5;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .carousel-contact .contact-us > div:first-of-type h2 {
    display: none;
  }
  .carousel-contact .contact-us > div:last-of-type {
    flex-direction: column;
    padding: 1.5rem 0.75rem 1.5rem 0;
    align-items: flex-end;
    justify-content: space-between;
  }
  .carousel-contact .contact-us > div:last-of-type h2 {
    display: block;
    width: 150px;
    line-height: 34px;
    margin: 0 40% 0 0;
  }
  .carousel-contact .contact-us > div:last-of-type p {
    line-height: 25px;
    font-size: 0.65rem;
    top: 0;
  }
}

/*# sourceMappingURL=Main.css.map */
